<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head')%>
	<link rel="stylesheet" href="/css/register.css">

</head>
<body>
	<%- include('../partials/header')%>
	  <div class="container-fluid px-0">
		<section id="nuevoproducto">
		<div class="container ">
				<h2 class="text-center">Carga nuevo producto</h2>
		<div class="formulariosContainer">
		  <div class="col-md-12 formularios">
				<form action="productAdd" method="POST">	
					<%- include('./partials/productsForm')%>
					<div class="col-md-6 ml-auto p-2 bd-highlight text-right">
						<button class="btn-principal " type="submit">Cargar nuevo producto!</button>
					</div>
					</form>
				</div>
		</section>
		
	</div>	  
	<%- include('../partials/footer')%>
	<%- include('../partials/scripts') %>
	<script defer src="/js/validator.js"></script>
	<script defer src="/js/validateProducts.js"></script>
</body>
</html>