<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
  <link rel="stylesheet" href="/css/products.css">
</head>
<body>
  <%- include('../partials/header')%>
  
  <section id="listing">
  <div class="container">
    <div class="breadcum">
      <a href="/"><i class="fas fa-home"></i></a>
       <a href="/products"> Listado de Productos <i class="fas fa-angle-right"></i></a>
    </div>
</div>
  </section>
  <section id="productos">
      <div class="row">
          <% products.forEach(unProducto => { %>
            <div class="prod-wrap columna3">
              <div class="columna prod">
                  <% if(unProducto.src.includes('http')){ %>
                    <img src="<%= unProducto.src %> " > 
                    <%} else { %>
                     <img src="/images/products/<%= unProducto.src %>" />
                    <% } %> 
                <p class="prod-nombre"> <%= unProducto.prodNombre %> </p>
                <p class="main-precio">$ <%= unProducto.mainPrecio %> </p>
                <div class="row">
                <form action="/products/<%= unProducto.id %>?_method=DELETE" method="POST">
                  <button class="btn-secundario" type="submit">Borrar</button>
                </form>
                <a class="btn-principal" href="/products/<%= unProducto.id %>/edit">editar</a>
              </div>
            </div>
            </div>
            
          <% }) %>
      </div>
        <!--segunda fila de productos-->
      
  </div>
  </section>
  <%- include('../partials/redes')%>
  <%- include('../partials/footer')%>
	
</div>
<%- include('../partials/scripts') %>
</body>
</html>