<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
	
</head>
<body>
	<%- include('../partials/header') %>
  <div class="container-fluid">
	<section id="login-registro">
    <div class="container ">
			<h3 class="text-center mb-4">Iniciar sesión </h3>
				<div class="col-md-6 col-sm-8 mx-auto alert alert-success mb-3 text-center alert-dismissible fade show" role="alert">
						<strong>¡Se ha registro exitosamente!</strong>
							Ahora puede iniciar sesion
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
			<div class="col-md-6 col-sm-8 formularios m-auto">
				<form id="login" action="login" method="POST">
					<h2 class="login-title">Clientes Candy Life</h2>		
						<small class="login-required"> Campos requeridos 
							<span class="login-register-login-form-required">*
							</span></small>  	
		
					<div >
						<label> E-mail <small class= "login campo requerido" >*	</small>
						</label>
					</div>
					<div class= "login control" data-valition = "control">
						<input  class="form-control " data-name="email" type="email" name="email" placeholder="tunombre@email.com">
						<div class="invalid-feedback"> </div>
					</div>
		
					<div>
						<label> Contraseña <small class="requerido" >*</small></label>
						<div class="login control">
							<input name="password" class="form-control"  type="password"  placeholder="Contraseña" data-name="contraseña">
							<div class="invalid-feedback"> </div>
						</div>
					</div>
					<div class="row">
					<div class="recordar col-md-6">
						<label class="pass">Recordar contraseña</label>
						<input type="checkbox" id="remember" name="remember" value="remember">
						<div class="invalid-feedback"> </div>
					</div>
					<div class="col-md-6 text-right">
							<a href="/" class="color-primary" >¿Olvidaste tu contraseña?</a>
					</div>
				</div>
					<div class="btn-login col-sm-8 m-auto">
						<button type="submit" class="btn-principal btn-login" > Iniciar sesion</button>
				</div>
				<div class="col-md-12">
					<p class="text-center">¿No tenes usuario?<a href="register" class="color-primary" > Registrate aca!</a></p>
				</div>
			</form>
			</div>
    </section>
  
	</div>
	<%- include('../partials/redes') %>
	<%- include('../partials/footer') %>
<script defer src="/js/validator.js"></script>
<script defer src="/js/validateRegister.js"></script>
<%- include('../partials/scripts') %>
</body>
</html>