<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
	<link rel="stylesheet" href="/css/register.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<%- include('../partials/header') %>
  <div class="container-fluid">
	<section id="login-registro">
    <div class="container ">
			<h2 class=" text-center" >Registrarse</h2>
      <div class="columna col-sm-12 col-md-8 mx-auto formulariosContainer">
			<!--Registracion-->
				<div class="columna4 col-sm-12 formularios">
					<h2 class="login-title">Completa tus datos!</h2>
					<small class="requerido"> Campos requeridos <span class="requerido">*</span></small>
					<form id="registracion" action="register" method="POST" enctype="multipart/form-data">
						<%- include('./partials/usersForm')%>
					<div class="btn-register" >
						<button type="submit" class="btn-principal" > Crear cuenta
					</button>
					</div>
				</form>
				</div>
				<!--Fin resitracion-->
			</div>
    </section>
  
	</div>
	<%- include('../partials/redes') %>
	<%- include('../partials/footer') %>
	<script defer src="/js/validator.js"></script>
	<script defer src="/js/validateRegister.js"></script>
	<%- include('../partials/scripts') %>
</body>
</html>