<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<%- include('./partials/header')%>
  <div class="container-fluid">
  <section id="banner">
      <img class="banner-img" src="/images/banner-1.png" alt="navidad"/>
      <div class="banner-texto columna4">
        <h5 class="bajada columna6">del 20 de Noviembre al 25 de Diciembre</h5>
        <h2 class="titulo">Nuevos productos de Navidad</h2>
        <button class="rojo">Ver mas</button>
      </div>
      <div class="lineas"></div>
  </section>
  <section id="productos">
    <div class="container ">
      <div class="columna3 center">
        <div class="main-titulo">
            <h2 >¡Elegí algo dulce!</h2>
        </div>
      </div>     
      <!--primer fila de productos-->
      <% products.forEach(unProducto => { %>
      <div class="row">
        <div class="prod-wrap">
          <div class="columna prod">
            <img src= <%= unProducto.src %> /> 
            <>main-precio</prod-nombre>
            <p class="prod-nombre"> <%= unProducto.prod-nombre %> </p>
            <p class="main-precio"> <%= unProducto.main-precio %></p>
          </div>
          <a href="/productDetail">
            <div class="over">
              <div class="btn-comprar">comprar</div>
            </div>
          </a>
        </div>
        <% }) %>
  </div>
  </section>
  <%- include('./partials/redes')%>
  <%- include('./partials/footer')%>
	
</div>
</body>
</html>