<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<%- include('./partials/header')%>
  <div class="container-fluid">
  <section id="banner">
      <img class="banner-img" src="/images/banner-1.png" alt="navidad"/>
      <div class="banner-texto columna4">
        <h5 class="bajada columna6">del 20 de Noviembre al 25 de Diciembre</h5>
        <h2 class="titulo">Nuevos productos de Navidad</h2>
        <button class="rojo">Ver mas</button>
      </div>
      <div class="lineas"></div>
  </section>
  <section id="productos">
    <div class="container ">
      <div class="columna3 center">
        <div class="main-titulo">
            <h2 >¡Elegí algo dulce!</h2>
        </div>
      </div>
      <!--primer fila de productos-->
      <div class="row">
          <% products.forEach(unProducto => { %>
            <div class="prod-wrap">
              <div class="columna prod">
                  <% if(unProducto.src.includes('http')){ %>
                  <img src="<%= unProducto.src %> " > 
                  <%} else { %>
                   <img src="/images/products/<%= unProducto.src %>" />
                  <% } %> 
                <p class="prod-nombre"> <%= unProducto.prodNombre %> </p>
                <p class="main-precio">$ <%= unProducto.mainPrecio %> </p>
              </div>
              <a href="/products/<%= unProducto.id %>">
                <div class="over">
                  <div class="btn-comprar">comprar</div>
                </div>
              </a>
            </div>
          <% }) %>
      </div>
        <!--segunda fila de productos-->
      
  </div>
  </section>
  <%- include('./partials/redes')%>
  <%- include('./partials/footer')%>
	
</div>
</body>
</html>