<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <link rel="stylesheet" href="/css/products.css">
</head>
<body>
  <%- include('./partials/header')%>
  
  <section id="listing">
  <div class="container">
    <div class="breadcum">
      <a href="/"><i class="fas fa-home"></i></a>
       <a href="/products"> Listado de Productos <i class="fas fa-angle-right"></i></a>
    </div>
</div>
  </section>
  <section id="productos">
      <div class="row">
          <% products.forEach(unProducto => { %>
            <div class="prod-wrap">
              <div class="columna prod">
                <img src= <%= unProducto.src %> />
                <p class="prod-nombre"> <%= unProducto.prodNombre %> </p>
                <p class="main-precio"> <%= unProducto.mainPrecio %> </p>
                <form action="/products/<%= unProducto.id %>?_method=DELETE" method="POST">
                  <button type="submit">Borrar</button>
                </form>
              </div>
              
            </div>
            
          <% }) %>
      </div>
        <!--segunda fila de productos-->
      
  </div>
  </section>
  <%- include('./partials/redes')%>
  <%- include('./partials/footer')%>
	
</div>
</body>
</html>