<% if (typeof errors != 'undefined'){ %>
	<div class="alert alert-danger" role="alert">
		<ul>
			<% for (var i = 0; i< errors.length ; i++ ){ %>
				<li class="errors-back"><%= errors[i].msg  %></li>
			<% } %>   
		</ul>
	</div>
	<% } %>
<div class="row">
    <div class="col-md-4 col-sm-10">
        <div class="form-group">
            <label>Nombre del producto:</label>
            <input data-name="nombre" type="text" name="prodNombre" value="<%= locals.product ? product.prodNombre : '' %>">
						<div class="invalid-feedback"> </div>
				</div>
        <div class="form-group">
            <label>Marca del producto:</label>
            <input data-name="marca" type="text" name="marca" value="<%= locals.product ? product.marca : '' %>">
						<div class="invalid-feedback"> </div>
				</div>
        <div class="form-group">
            <label>Categoría del producto:</label>
            <input data-name="categoria" type="text" name="categoria" value="<%= locals.product ? product.categoria : '' %>">
						<div class="invalid-feedback"> </div>
				</div>

        <div class="form-group">
            <label>Gramaje/Kgs:</label>
						<input data-name="gramaje"  type="number" name="gramaje" value="<%= locals.product ? product.gramaje : '' %>">
						<div class="invalid-feedback"> </div>
				</div>
        <div class="form-group">
            <label>Precio del producto:</label>
            <input data-name="precio" type="text" name="mainPrecio" value="<%= locals.product ? product.mainPrecio : '' %>" >
						<div class="invalid-feedback"> </div>
				</div>

        <div class="form-group">
            <label>Precio promocional:</label>
						<input data-name="precio promocional" type="number" name="discountPrecio" value="<%= locals.product ? product.discountPrecio : '' %>">
						<div class="invalid-feedback"> </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-10 my-0">
        <div class="form-group">
            <label>Detalle del producto:</label>
            <textarea data-name="detalle" rows="6" cols="50" name="detalle"> <%= locals.product ? product.detalle : '' %></textarea> 
						<div class="invalid-feedback"> </div>
				</div>
        <div class="form-group">
            <label>Informacion nutricional:</label>
						<textarea data-name="informacion nutricional" rows="6" cols="50" name="nutricional"> <%= locals.product ? product.nutricional : '' %></textarea>
						<div class="invalid-feedback"> </div>
        </div>
        
        <div class="form-group image">
						<% if (locals.product) { %>
								<img class="columna5" src="/images/products/<%= product.src ? product.src : 'default-product-image.png' %>" alt="">
								<input type="hidden" name="oldImage" value="<%= product.src %>">
						<% } %>
						</div>
        <div class="form-group">
            <label>Adjuntar imagenes:</label>
            <input type="file" name="src" accept="image/x-png,image/gif,image/jpeg, image/jpg" data-name="Imagen" multiple>
						<div class="invalid-feedback"> </div>
				</div>
    </div>
</div>
    
    
    